.app {
    height: 100%;
  }
  
  .treeRoot {
    max-height: 40%;
    overflow: scroll;
    padding: 20px;
  }
  
  .draggingSource {
    opacity: .3;
  }
  
  .dropTarget {
    background-color: #e8f0fe;
  }